{% extends 'mainsite/base-beforelogin.html' %}
{% load static %}
{% block title %}lolTrueStory{% endblock %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p align="center"><img src="{% static 'mainsite/images/mainlogo.png' %}"></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="col-md-3"></div>
      <div class = "col-md-6">
        <h1>About Us</h1>
          <p align="left"> <font size="5px">Here at True Story we want to foster a community of empathy and laughter. We know that all of us at one point or another have had those moments where we could be embarassed, but we've chosen to laugh about it. lolTrueStory is a place where we can all laugh with each other. We are going to do stupid things, so lets have fun with it.</font></p>
          <h1>Contact Us</h1>
          <p align="left"> <font size="4px">Have comments or questions? Email us at <a href="mailto:contact@loltruestory.com">contact@loltruestory.com</a></font></p>
      </div>
      <div class="col-md-3"></div>
    </div>     
   {% endblock %}   
      
    
    {% block footer %}<p>&copy; lolTrueStory 2013</p>{% endblock %}