{% extends 'mainsite/base-beforelogin.html' %}
{% load static %}
{% block title %}lolTrueStory{% endblock %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p align="center"><img src="{% static 'mainsite/images/logo-blue.png' %}"></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="col-md-3"></div>
      <div class = "col-md-6">
        <h1>About Us</h1>
          <p align="left"> <font size="5px">Share your experiences with others and find out that you are not alone. blah blah blah blah anonymous blah blah blah blah blah blah blah blah blah blah blah FREE blah blah blah</font></p>
          <h1>Contact Us</h1>
          <p align="left"> <font size="4px">Have comments or questions? Email us at <a href="mailto:contact@loltruestory.com">contact@loltruestory.com</a></font></p>
      </div>
      <div class="col-md-3"></div>
    </div>     
   {% endblock %}   
      
    
    {% block footer %}<p>&copy; lolTrueStory 2013</p>{% endblock %}