{% extends 'mainsite/base.html' %}
{% load static %} 
{% block navbar-left %}
<div class="navbar-header">
<div class="form-group">
<form>
    <a class="navbar-brand" href="/myposts">My Posts{% if userdata.notifications %} ({{userdata.notifications }}){% endif %}</a>
    <a class="navbar-brand" href="/trending">Trending</a>
    <a class="navbar-brand" href="/favorites">Favorites</a>
    <a class="navbar-brand" href="#">Matches</a>
</form>
</div>
</div>
{% endblock %}
{% block navbar-right %}
<form class='navbar-form navbar-right'>
<font color="#ffffff">{{ userdata.screenname }}&nbsp;&nbsp;&nbsp;&nbsp;</font>
<div class="form-group"> 
	<a class="iconnavbuttons navbar-brand-icon" href=""><i class="fa fa-cogs fa-2x" alt="settings"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div class="form-group">
	<a class="iconnavbuttons navbar-brand-icon" href="/logout"><i class="fa fa-sign-out fa-2x" alt="Logout"></i></a>
</div>
</form>
{% endblock %}
{% block prebody %}<div class="navbarbufferextra"></div>{% endblock %}
{% block footer %}
{% endblock %}
