{% extends 'mainsite/base.html' %}
{% block title %}lolTrueStory{% endblock %}

{% block navbar-left %}
      <a class="navbar-brand" href="about">About Us</a>
{% endblock %}

{% block navbar-right %}
            <form class='navbar-form navbar-right' action="login" method="post">{% csrf_token %}
	    <div class="form-group">
	      {{ loginform.email }}
              <!--<input type="text" placeholder="Email" class="form-control">-->
            </div>
            <div class="form-group">
	      {{ loginform.password }}
              <!--<input type="password" placeholder="Password" class="form-control">-->
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
{% endblock %}
{% block footer %}
        <p>&copy; lolTrueStory 2013</p>
{% endblock %}