 <script type="text/javascript">
        
        function confirmDeleteComment(id) {
            var formID = "#deleteComment";
            formID = formID.concat(id);
            if(confirm('Are you sure you would like to delete this comment?'))
                $(formID).submit();                
        }
        
        function confirmDeletePost(id) {
            var formID = "#deletePost";
            formID = formID.concat(id);
            if(confirm("Are you sure you would like to delete this post?"))
                $(formID).submit();  
        }
        
        function searchUser() {
            var user = "http://localhost:8000/user/"+$('#searchBox').val();
            alert(user);
            window.location.href = user;
        }
        
</script>