{% extends 'mainsite/base-noLogin.html' %}
{% block title %}lolTrueStory{% endblock %}
{% block body %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="col-md-3"></div>
      <div class = "col-md-6">
        <br>
        <h1>Login</h1>
        <!--<p><font color="red">Your email address or password was incorrect/unrecognized. Please try again</font></p>-->
	<div class="form-group">
	    <form action="login" method="post">{% csrf_token %}
	    {% if cooloff_time %}
	    	<div class="errorcallout">You have reached the maximum number of failed login attempts. You may try again later.</div>
	    {% else %}
	    {% if loginError %}
	      <div id="badLogin" class="errorcallout">{{ loginError }}</div>
            {% endif %}
	    {% if loginform.non_field_errors %}
	      <div class="errorcallout">{{ form.non_field_errors }}</div>
            {% endif %}
              Email: <br>
		{{ loginform.email }}
		{% if loginform.email.errors %}
            	  <div class="errorcallout"><b>{{ loginform.email.errors }}</b><b class="topnotch"/></div>
          	{% endif %}
              <!--<input type="text" placeholder="email" class="form-control">-->
            <div class="form-group">
              Password: <br>
		{{ loginform.password }}
		{% if loginform.password.errors %}
		      <div class="errorcallout">{{ loginform.password.errors }}<b class="topnotch"/></div>
          	{% endif %}
              <!--<input type="password" placeholder="password" class="form-control">-->
            </div>
            <button type="register" class="btn btn-success">Sign In</button>
            <text>&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;</text>
            <a href="register"><b>Sign Up Now</b></a>
	    {% endif %}
	    </form>
      </div>
      <div class="col-md-3"></div>
    </div>     
    
    
<script type="text/javascript">
   
    function removeError() {
        $('#badLogin').hide();
    }

    
</script>
    
    {% endblock %}   
      
    
    {% block footer %}<p>&copy; lolTrueStory 2013</p>{% endblock %}