{% extends 'mainsite/base-loggedin.html' %}
{% block body %}
<div class="container"> 
<div class="col-md-3"></div> 
<div class="col-md-6">
<div class="row">
    <p class="alignLeft"><font class="PageTitle">My Posts</font></p>
    <a href="/newpost" type="submit" class="btn btn-success right">New Post</a>
</div>
</div>
<div class="col-md-3"></div>
</div>

{% for post in posts %}
        <div class="container"> 
        <div class="col-md-3"></div> 
        <div class="col-md-6">
        <div class="row">
            <p class="alignLeft"><font class="PostTitle-md"><a href="/post/{{ post.pk }}">{{ post.title }} </a></font></p>
            <p class="alignRight"><font class="username">{{ post.user.screenname }}</font></span></p>
        </div>
        </div>
        <div class="col-md-3"></div>
        </div>


        <div class="container">
        <div class="col-md-3"></div> 
        <div class="col-md-6 blueBorderPost">
        {% if post.candelete %}
        <form action="" method="post" id="deletePost{{post.pk}}">{% csrf_token %}
            <input type="hidden" name="postID" value="{{ post.pk }}">
               <i class="fa fa-trash-o iconLink cornerIcon" onclick="confirmDeletePostTEST({{post.pk}})"></i>
         </form>
        {% endif %}
        <!-- Image stuff -->
        <div class="row wordwrap">
            <div>
            {% if post.image %}
                <img class="imagecontainer-large" src="{{ post.image.url }}" alt="image not found" id="postImage1" />
            {% endif %}
            {{ post.text }}
            </div>
            </div>

        <div class="smallBR"></div>
        <div>
            <p class="countInformation"> 3 pity&nbsp;&nbsp;&nbsp;2&nbsp;LaughWith&nbsp;&nbsp;&nbsp;0&nbsp;Comments</p>  
        </div>

        </div>
        <div class="col-md-3"></div>
        </div> 
        
        <div class="meduimBR"/>
{% endfor %}

<!--
<table>
{% for post in posts %}
	<tr>
		<td>{{ post.user.screenname }}: <a href="/post/{{ post.pk }}">{{ post.title }}</a>, {{ post.text }} {% if post.candelete %}<a href="">Delete</a>{% endif %}</td>
		<td>{% for tag in post.tags.all %}#{{ tag.tag }}, {% endfor %} </td>
		<td>{% for comment in post.comment_set.all %}{{ comment.commenter.screenname }}:{{ comment.text }}{% if comment.candelete%}<a href="">Delete</a>{% endif %},{% endfor %}</td>
	</tr>
{% endfor %}
</table>-->
 
{% include "mainsite/javascript.html" %}

{% endblock %}