{% extends 'mainsite/base-loggedin.html' %}
{% load static %} 
{% block title %}lolTrueStory{% endblock %}
{% block body %}

    <div class="container">
        <h1 align="center">New Post</h1>
      <!-- Example row of columns -->
      <div class="col-md-4">
      <div id="templateSelection" style="display:none;" >
      <h3 id="templateHeader">Select a template</h3>
      <form action="" method="post" checked="checked" enctype="multipart/form-data">{% csrf_token %}
        <a class="clickableDiv" style="display:block" onclick="checkLG()">
         <input type="radio" id="LG" name="templateType" value="{{ templateChoices.0 }}" checked>
            <div class="blueBorder">
                 <img class="imagecontainer-large" src="{% static 'mainsite/images/placeholder.jpg' %}" alt="Settings">
                 <p>~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>    
            </div>
        </input>
        </a>
        <br>
        <a class="clickableDiv" style="display:block" onclick="checkSM()">
        <input id="SM" type="radio" name="templateType" value="{{ templateChoices.1 }}" >
            <div class="blueBorder">
                <p> <img class="imagecontainer-small" align="left" src="{% static 'mainsite/images/placeholder.jpg' %}" alt="Settings">~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>    
            </div>
        </input> </a>
            <br>
     </div>
      </div>
      <div class = "col-md-5">
      <!--<h3>Create the Post</h3>-->
            Title:
            <div class="form-group">
                {{ form.postTitle }}
                {% if form.postTitle.errors %}
                <div class="errorcallout"><b>{{ form.postTitle.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.image }}
                {% if form.image.errors %}
                <div class="errorcallout"><b>{{ form.image.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            
            Post:
            <div class="form-group">
               {{ form.post }}
                {% if form.post.errors %}
                <div class="errorcallout"><b>{{ form.post.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            Tags:
            <div class="form-group">
                {{ form.tags }}
                {% if form.tags.errors %}
                <div class="errorcallout"><b>{{ form.tags.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            
            <button type="submit" class="btn btn-success">Publish</button>
            
    </div>
    </form>
      <div class="col-md-3">
       
      </div>
    </div>  

    
    <script type="text/javascript">
    $(document).ready(function() {
        $("#tags").tagit();
    });
    </script>
    
    <script type="text/javascript">
        
        function checkLG() {
            $('#LG').prop('checked', true);
        }
        
        function checkSM() {
            $('#SM').prop('checked', true);
        }
        
        function toggleTemplates() {
            if($("#image").val()) {
                $('#templateSelection').show();
            }
            else
                $('#templateSelection').hide();
        }
        
        window.onload = toggleTemplates;
    </script>
    {% endblock %}   
      
   