{% extends 'mainsite/base-loggedin.html' %}
{% load static %} 
{% block title %}lolTrueStory{% endblock %}
{% block body %}

    <div class="container">
        <h1 align="center">New Post</h1>
      <!-- Example row of columns -->
      <div class="col-md-4">
      <h3>Select a template</h3>
      <form action="" method="post">{% csrf_token %}
        <input type="radio" name="template" value="text">
            <div class="examplePost">
                <p>~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>         
            </div>
        </input>
            <br>
        <input type="radio" name="template" value="textImage">
            <div class="examplePost">
                <p> <img Width=30% left-margin=2px src="{% static 'mainsite/images/placeholder.jpg' %}" alt="Settings">~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>    
            </div>
        </input>
            <br>
        <input type="radio" name="template" value="textLargeImage">
            <div class="examplePost">
                 <img Width=100% left-margin=2px src="{% static 'mainsite/images/placeholder.jpg' %}" alt="Settings">
                 <p>~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>    
            </div>
        </input>
      </div>
      <div class = "col-md-5">
      <!--<h3>Create the Post</h3>-->
            Title:
            <div class="form-group">
                {{ form.postTitle }}
                {% if form.postTitle.errors %}
                <div class="errorcallout"><b>{{ form.postTitle.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.image }}
                {% if form.image.errors %}
                <div class="errorcallout"><b>{{ form.image.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            
            Post:
            <div class="form-group">
               {{ form.post }}
                {% if form.post.errors %}
                <div class="errorcallout"><b>{{ form.post.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            Tags:
            <div class="form-group">
                {{ form.tags }}
                {% if form.tags.errors %}
                <div class="errorcallout"><b>{{ form.tags.errors }}</b><b class="topnotch"/></div>
              {% endif %}
            </div>
            
            <button type="submit" class="btn btn-success">Publish</button>
            
    </div>
    </form>
      <div class="col-md-3"></div>
    </div>     
    
    {% endblock %}   
      
   