{% extends 'mainsite/base-loggedin.html' %}
{% load static %} 
{% block title %}lolTrueStory{% endblock %}
{% block body %}

    <div class="container">
          <br><br>
        <h1 align="center">New Post</h1>
      <!-- Example row of columns -->
      <div class="col-md-4">
      <h3>Select a template</h3>
      <form action="">
        <input type="radio" name="template" value="text">
            <div class="examplePost">
                <p>~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>         
            </div>
        </input>
            <br>
        <input type="radio" name="template" value="textImage">
            <div class="examplePost">
                <p> <img Width=30% left-margin=2px src="{% static 'mainsite/images/placeholder.jpg' %}" alt="Settings">~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>    
            </div>
        </input>
            <br>
        <input type="radio" name="template" value="textLargeImage">
            <div class="examplePost">
                 <img Width=100% left-margin=2px src="{% static 'mainsite/images/placeholder.jpg' %}" alt="Settings">
                 <p>~~~~~ ~~~~~~~~~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~ ~~~~~~~~ ~~~~~ ~ ~~~~~~~~~~~ ~~~~ ~~~~~ ~~~~~~~~~ ~~~~~~ ~~~~ ~~~</p>    
            </div>
        </input>
        </form>
      </div>
      <div class = "col-md-5">
      <!--<h3>Create the Post</h3>-->
            <div class="form-group">
              Title: <br>
              <input type="text" placeholder="Title" class="form-control">
            </div>
            <form action="upload_file.php" method="post"
                enctype="multipart/form-data">
              Photo (optional):
                <input type="file" name="file" id="file"><br>
            </form>
            <div class="form-group">
              Post: <br>
              <textarea name="post" placeholder="Write your story..." cols="40" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
              Tags: <br>
              <input type="text" placeholder="Add tags..." class="form-control">
            </div>
            
            <button type="register" class="btn btn-success">Publish</button>
      </div>
     <!-- <div class = "col-md-5">
        <br>
        <br>
        <h1>Create a new post</h1>
	<form action="" method="post">{% csrf_token %}
        {% if form.non_field_errors %}
	      <div class="errorcallout">{{ form.non_field_errors }}</div>
        {% endif %}
        
            <div class="form-group">
              Email: <br>
	      {{ form.email }}
          {% if form.email.errors %}
            <div class="errorcallout"><b>{{ form.email.errors }}</b><b class="topnotch"/></div>
          {% endif %}
            </div>
            
            <div class="form-group">
              Screen Name: <br>
	      {{ form.screenname }}
          {% if form.screenname.errors %}
	      <div class="errorcallout">{{ form.screenname.errors }}<b class="topnotch"/></div>
          {% endif %}
            </div>
            
            <div class="form-group">
              Password: <br>
	      {{ form.password }}
            </div>
            <div class="form-group">
	      {{ form.passwordconfirm }}
          {% if form.password.errors %}
	      <div class="errorcallout">{{ form.password.errors }}<b class="topnotch"/></div>
          {% endif %}

            </div>
	    <div class="form-group">
	      Prove that you are not a Robot: <br>
	      {{ form.captcha }}
        	 {% if form.captcha.errors %}
	     		 <div class="errorcallout">{{ form.captcha.errors }}<b class="topnotch"/></div>
         	 {% endif %}

            </div>
            <button type="submit" class="btn btn-success">Complete Registration</button>

	</form>
      </div>-->
      <div class="col-md-3"></div>
    </div>     
    
    {% endblock %}   
      
    
    {% block footer %}<p>&copy; lolTrueStory 2013</p>{% endblock %}