
{% extends 'mainsite/base-loggedin.html' %}
{% block body %}

<div class="container"> 
<div class="col-md-2"></div> 
<div class="col-md-8">
<div class="col-md-8">
    <div class="row">
        <p class="alignLeft"><font class="PageTitle">{{viewuser.screenname}}</font></p>
        
        {% if favorited %}
        <p class="alignRight">
            <button type="submit" class="btn btn-done">Favorited</button>
        </p>
        {% else %}
            <form action="" method="post">{% csrf_token %}
                <input type="hidden" name="favoriteID" value="{{ viewuser.pk }}">
                <p class="alignRight">
                <button type="submit" class="btn btn-success">Favorite</button>
                </p>
            </form>
        {% endif %}
        
    </div>
</div>
<div class="col-md-4"></div>
</div>
<div class="col-md-2"></div>
</div>
{% if not posts %}
No Posts{% include "mainsite/noPosts-person.html" %}{% endif %}
{% include "mainsite/postlist.html" %}


{% include "mainsite/javascript.html" %}

{% endblock %}