{% for post in posts %}
        <div class="container"> 
        <div class="col-md-2"></div> 
        <div class="col-md-8">
            <div class="col-md-8">
                <div class="row">
                    <p class="alignLeft"><font class="PostTitle-md"><a class="TitleLink" href="/post/{{ post.pk }}">{{ post.title }} </a></font></p>
                    <p class="alignRight"><font class="username"><a class="TitleLink" href="/user/{{ post.user.screenname }}">{{ post.user.screenname }}</a></font></span></p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-md-2"></div>
        </div>


        <div class="container">
        <div class="col-md-2"></div> 
        <div class="col-md-8" id="postdiv{{post.pk}}">
            <div class="col-md-8 blueBorderPost" id="innerPost{{post.pk}}">
                {% if post.candelete %}
                <form action="" method="post" id="deletePost{{post.pk}}">{% csrf_token %}
                    <input type="hidden" name="postID" value="{{ post.pk }}">
                       <i class="fa fa-trash-o iconLink cornerIcon" onclick="confirmDeletePost({{post.pk}})"></i>
                 </form>
                {% endif %}
                <!-- Image stuff -->
                <a class="clickableDiv" style="display:block" onclick="checkClick(event)" href="/post/{{ post.pk }}">
                <div class="row wordwrap">
                    <div>
                    {% if post.image %}
                        {% ifequal post.template templates.0 %}
                            <img class="imagecontainer-large" src="{{ post.image.url }}" alt="image not found" id="postImage" />
                        {% else %}
                            <img class="imagecontainer-small" src="{{ post.image.url }}" alt="image not found" id="postImage" align="left"/>
                        {% endifequal %}
                    {% endif %}
                    {{ post.text }}
                    </div>
                    </div>

                <div class="smallBR"></div>
                <div>
                    <p class="countInformation"> {{ post.pitycount }} pity&nbsp;&nbsp;&nbsp;{{ post.laughcount }}&nbsp;LaughWith&nbsp;&nbsp;&nbsp;{{ post.commentcount }}&nbsp;Comments</p>  
                </div></a>
            </div>
            <div class="col-md-4">
                {% if post.hasComment %}
                    <a class="clickableDiv" style="display:block" href="/post/{{ post.pk }}">
                    <div class="commentcallout" id="postComments{{post.pk}}" style="display:none;">
                        <pre class="commentinside" id="commentText{{post.pk}}">{{post.commentSummary}}</pre>
                        <b id="sidenotch{{post.pk}}" class="sidenotch"></b>
                    </div></a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
        </div> 
        
        <div class="meduimBR"/>
{% endfor %}

<script type="text/javascript">
       
        function setLocations() {
            var position
            {% for post in posts %}
                var height = $("#innerPost{{post.pk}}").height()+20;
                position = $("#postdiv{{post.pk}}").offset()
                $("#postComments{{post.pk}}").show();
                $("#postComments{{post.pk}}").offset({top: position.top});
                $("#commentText{{post.pk}}").css('max-height', height);
                
                var top =  ($("#commentText{{post.pk}}").height()+20)/2;
                $('#sidenotch{{post.pk}}').css('top', top);
                
            {% endfor %}
        }        
        
	window.onload = setLocations;
</script>