{% for post in posts %}
<div class="row">
        <div class="container"> 
        <div class="col-md-2"></div> 
        <div class="col-md-8">
            <div class="col-md-8">
                <div class="row">
                    <p class="alignLeft"><font class="PostTitle-md"><a class="TitleLink" href="/post/{{ post.pk }}">{{ post.title }} </a></font></p>
                    <p class="alignRight"><font class="username"><a class="TitleLink" href="/user/{{ post.user.screenname }}">{{ post.user.screenname }}</a></font></span></p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-md-2"></div>
        </div>


        <div class="container">
        <div class="col-md-2"></div> 
        <div class="col-md-8" id="postdiv{{post.pk}}">
            <div class="col-md-8 blueBorderPost" id="innerPost{{post.pk}}">
                {% if post.candelete %}
                <form action="/post/{{post.pk}}" method="post" id="deletePost{{post.pk}}">{% csrf_token %}
                    <input type="hidden" name="postID" value="{{ post.pk }}">
                       <i class="fa fa-trash-o iconLink cornerIcon" onclick="confirmDeletePost({{post.pk}})"></i>
                       {% if post.hasNotification %}
                            <i id="notification{{post.pk}}" class="fa fa-eye iconLink cornerIcon2" onclick="confirmSeen({{post.pk}})")></i>
                       {% endif %}                      
                 </form>
                {% endif %}
                <!-- Image stuff -->
                <a class="clickableDiv" style="display:block" onclick="checkClick(event)" href="/post/{{ post.pk }}">
                <div class="row wordwrap">
                    <div>
                    {% if post.image %}
                        {% ifequal post.template templates.0 %}
                            <img class="imagecontainer-large" src="{{ post.image.url }}" alt="image not found" id="postImage" />
                        {% else %}
                            <img class="imagecontainer-small" src="{{ post.image.url }}" alt="image not found" id="postImage" align="left"/>
                        {% endifequal %}
                    {% endif %}
                    {{ post.text }}
                    </div>
                    </div>

                <div class="BR5"></div>
        {% if post.tagList %}
            {% for tag in post.tagList %}
                <div class="tag">#{{ tag }}</div>
            {% endfor %}
            
            <div class="BR5"></div>
        {% endif %}
                <div>
                    <p class="countInformation"> {{ post.pitycount }} pity&nbsp;&nbsp;&nbsp;{{ post.laughcount }}&nbsp;LaughWith&nbsp;&nbsp;&nbsp;{{ post.commentcount }}&nbsp;Comments</p>  
                </div></a>
            </div>
            <div class="col-md-4">
                {% if post.hasComment %}
                    <a class="clickableDiv" style="display:block" href="/post/{{ post.pk }}">
                    <div class="commentcallout" id="postComments{{post.pk}}" style="display:none;">
                        <pre class="commentinside" id="commentText{{post.pk}}">{{post.commentSummary}}</pre>
                        <b id="sidenotch{{post.pk}}" class="sidenotch"></b>
                    </div></a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
        </div> 
        
        <div class="meduimBR"/>
</div>
{% endfor %}

<script type="text/javascript">
         
        function confirmSeen(id) {
            var name = '#notification';
            name = name.concat(id);
            $(name).hide();
	    sendPost(id)
        }
         
         
         
        function setLocations() {
            var position
            {% for post in posts %}
                var height = $("#innerPost{{post.pk}}").height()+20;
                position = $("#postdiv{{post.pk}}").offset()
                $("#postComments{{post.pk}}").show();
                $("#postComments{{post.pk}}").offset({top: position.top});
                $("#commentText{{post.pk}}").css('max-height', height);
                
                var top =  ($("#commentText{{post.pk}}").height()+20)/2;
                $('#sidenotch{{post.pk}}').css('top', top);
                
            {% endfor %}
        }        
        
	window.onload = setLocations;
</script>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function sendPost(id)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }

var name = "/post/";
name = name.concat(id);
xmlhttp.open("POST",name,true);
xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
name = "notificationID=";
name.concat(id);
xmlhttp.send(name);
}
</script>