
{% extends 'mainsite/base-loggedin.html' %}
{% block body %}

<div class="container"> 
<div class="col-md-2"></div> 
<div class="col-md-8">
<div class="col-md-8">
    <div class="row">
        <p class="alignLeft"><font class="PageTitle">Trending</font></p>      
    </div>
</div>
<div class="col-md-4"></div>
</div>
<div class="col-md-2"></div>
</div>
{% if not posts %}
{% include "mainsite/noPosts-trending.html" %}
{% endif %}
{% include "mainsite/postlist.html" %}


{% include "mainsite/javascript.html" %}

{% endblock %}