{% extends 'mainsite/base-beforelogin.html' %}
{% load static %} 

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p align="center"><img src="{% static 'mainsite/images/logo-blue.png' %}"></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <p align="justify"> <font size="5px">Share your experiences with others and find out that you are not alone. blah blah blah blah anonymous blah blah blah blah blah blah blah blah blah blah blah FREE blah blah blah</font></p>
       </div>
  
        <div class="col-md-6">
            <h1 align="center">Tell Your Story</h1>
            <p align="center"><a href="register" class="btn btn-success btn-lg" role="button">Sign Up Now &raquo;</a></p>
        </div>
      </div>
    </div>
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row-btm">
        <div class="col-md-4">
          <h2 align="center">Find Stories</h2>
          <p align="center"><i class="fa fa-search welcomeIcon"></i></p>
        </div>
        <div class="col-md-4">
          <h2 align="center">Find Friends</h2>
          <p><p align="center"><i class="fa fa-users welcomeIcon"></i></p></p>
       </div>
        <div class="col-md-4">
          <h2 align="center">Laugh Together</h2>
          <p><p align="center"><i class="fa fa-smile-o welcomeIcon"></i></p></p>
        </div>
      </div>
{% endblock %}